@charset "utf-8";

.fade-enter-active{
  transition: opacity 1.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
  display: none
}

#app {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  & > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    & > .active-router {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}

.hidden {
  opacity: 0;
  pointer-events: none
}
